.body-container {
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.mb-3 {
    width: 500px;
}