.chord-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

h1, h2, h3 {
    text-align: center;
}

.chord {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 12vw;
    height: 5vw;
    font-size:calc(.9% + 2vw);
    border-right: 1px solid black;
}
